@using MessageBoardClient.Models

<h1>New Message:</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.UserName)
  @Html.TextBoxFor(model => model.UserName)<br>
  @Html.LabelFor(model => model.Content)
  @Html.TextBoxFor(model => model.Content)<br>

  @Html.Label("Select group:")
  @Html.DropDownList("group")<br>

  <input type="submit" value="Post" class="btn" />
}