@using MessageBoardClient.Models
<!-- @{
    ViewData["Title"] = "Details";
} -->

<h1>Message Details</h1>
<ul>
    <li>ID: @Model.MessageId</li>
    <li>Content: @Model.Content</li>
    <li>Group: @Model.Group</li>
    @* <li>Date Posted: @Model.PostDate</li> *@
    <li>User: @Model.UserName</li>
</ul>
<br>

<a href="/Messages/Delete/@(Model.MessageId)"><p>Delete</p></a>
<br> 
<p>@Html.ActionLink("Delete this post?", "Delete", new {id=Model.messageId})</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>