@using MessageBoardClient.Models
@using System.Linq


<h1>All Messages in group:</h1>

<ol>
@foreach (Message message in Model)
{
  
    <ul>
        <h3>Group: @message.Group</h3>
        <p>ID: @message.MessageId - User Name: @message.UserName</p>
        <li>Content: @message.Content</li>

    </ul>
    <a href="/Messages/Details/@(message.MessageId)"><p>View Details</p></a>
    <br>
  
}
</ol>

<p>@Html.ActionLink("Home", "Index", "Home")</p>